.admin-content{
    margin: auto;
    padding-top: 20px;
    width: 80%;
    text-align: center;
    color: #3b1b3c;
}

.enter-p{
    padding-top: 15px;
}

.enter-p button{
    color: #3b1b3c;
    text-decoration: none;
    font-family: "Lucida Console", monospace;
}