.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

body {
  font-family: "Lucida Console", monospace;
  background-color: #c7b19d;
}

.main-content {
  padding: 20px;
  color: #3b1b3c;
  max-width: 100%;
}

.main-content a {
  padding: 20px;
  color: #3b1b3c;
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #a0749b;
  position: relative;
}

.navbar a {
  padding: 14px 20px;
  color: #3b1b3c;
  text-decoration: none;
  display: block;
  font-size: large;
}

.navbar button{
  padding: 14px 20px;
  color: #3b1b3c;
  text-decoration: none;
  display: block;
  font-size: large;
  font-family: "Lucida Console", monospace;
}

.gameName {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu-item:not(.login) {
  flex-grow: 1;
}

.login {
  order: 2;
  text-align: center;
}

/* Rules */

.rules {
  background-color: transparent;
  border: none;
  padding: 14px 20px;
  color: white;
  display: block;
  font-size: 15px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #f4ece3;
  padding: 40px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 50%;
}

.popup-content h2{
  color: #3b1b3c;
  text-align: center;
}

.midT{
  text-align: center;
  padding-bottom: 20px;
}
.popup-content h3{
  color: #3b1b3c;
}

.popup-content p{
  color: #3b1b3c;
}

.close {
  position: absolute;
  top: 13px;
  left: 13px;
  padding: 2px 7px;
  cursor: pointer;
  font-size: 20px;
  color: #e8e5e8;
  background-color: #3b1b3c;
  border-radius: 45%;
}

.eventimg{
  width: 80%;
}

.ei{
  text-align: center;
}
/* pop-up for winner*/

.popup_w {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(207, 201, 228);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-win {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(253, 190, 3);
  position: relative;
  width: 50%;
  text-align: center;
}

.popup-win h1 {
  color: #1d1e28;
  padding: 30px;
}

.popup-win p {
  color: #1d1e28;
  padding-top: 60px;
  padding: 40px;
}
