.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  padding: 5px;
}

.gameRoom {
  flex-grow: 1 1;
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  text-align: center;
}
.chatField {
  align-items: center;
  justify-content: center;
}

.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  background-color: #c7b19d;
  color:#3b1b3c;
  align-items: center;
  text-align: center;
  font-size: large;
  padding: 5px;
}

.playerSection {
  background-color: rgb(186, 186, 186);
  color: black;
  border-radius: 5%;
}

.moveTokenButton {
  background-color: #f1f1f1;
  font-size: 25px;
  margin-top: 20px;
  width: 50%;
  height: 35px;
  color:#3b1b3c;
}

.color-option {
  width: 60px;
  height: 60px;
}

.dice {
  width: 75px;
  height: 75px;
  background-color: #3b1b3c;
  color: #f1f1f1;
  font-size: 55px;
  border: "1px solid black";
  cursor: pointer;
  border-radius: 10%;
  margin-left: 32%;
}

.grid1 {
  background-image: url("Icons/water.png");
  background-size: cover;
}
.grid2 {
  background-image: url("Icons/space.png");
  background-size: cover;
}
.grid3 {
  background-image: url("Icons/forest.png");
  background-size: cover;
}
.grid4 {
  background-image: url("Icons/Lava.png");
  background-size: cover;
}

.pallette {
  flex-grow: 1 1;
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
}

.pallette h2 {
  color: #3b1b3c;
}

.color-picker {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-align: center;
}

.color-choose{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  text-align: center;
}

.removecolor{
    grid-column: span 2;
}

.buttons{
  padding-top: 40px;
}

.save-button {
  background-color: #f1f1f1;
  font-size: 20px;
  margin-top: 20px;
  width: 80%;
  height: 30px;
  color: #3b1b3c; 
  font-family: "Lucida Console", monospace;
}

.save-button:active {
  background-color: #959595;
  transform: translateY(1px);
}

.popup li{
  color: #3c1b1b; 
  margin: 20px;
}

.popup ul{
  margin-bottom: 30px;
}

.bb{
  padding-top: 10px;
  padding-left: 10px;
}

.backbutt{
  color: #3b1b3c;
}