.welcome-text{
  text-align: center;
}

.levels {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    justify-content: space-around; 
  }
  
.levels > div {
  padding: 10px;
  box-sizing: border-box;
}
  
.levels img {
    width: 100%;
    height: auto; 
}

.levels a{
  text-decoration: none;
}

.adminheader{
  text-align: center;
}

